#{extends 'main.html' /}
#{set title:'Product Search - The Hague University' /}
#{set 'moreScripts'}
  *{ Note that jquery 1.7.1 is imported in main.html }*
  <script type="text/javascript">
        function canMouseOver(xmlgroups,div) {
          if (checkGroups(usergroups,xmlgroups)) {
            div.style.backgroundColor='#FFFFC7';
          }
        }
        function canDoubleClick(xmlgroups,url) {
          if (checkGroups(usergroups,xmlgroups)) {
            window.location=url;
          }
        }
        function checkGroups(a, b) {
          var gevonden = false;
          for (i=0; i < b.length; i++) {
            for (j=0; j < a.length; j++) {
              if (b[i]==a[j]) {
                gevonden = true;
                break;
              }
            }
            if (gevonden) {
              break;
            }
          }
          return gevonden;
        }
      </script>
  <script type="text/javascript" src="@{'/public/thehague/common.js'}"></script>
  <script type="text/javascript" src="@{'/public/thehague/opldb_slide_txt.js'}"></script>
  <script type="text/javascript">var usergroups = [];</script>

  <script src="http://a-nuffic-rlb.finalist.com/public/javascripts/easyTooltip.coffee" type="text/javascript" charset="UTF-8"></script>
  <script src="http://a-nuffic-rlb.finalist.com/public/javascripts/jquery-ui-1.8.18.autocomplete.min.js" type="text/javascript" charset="UTF-8"></script>
  <script src="http://a-nuffic-rlb.finalist.com/public/javascripts/jquery.dropdown.js" type="text/javascript" charset="UTF-8"></script>
  <script src="http://a-nuffic-rlb.finalist.com/public/javascripts/rlb_required.coffee" type="text/javascript" charset="UTF-8"></script>
  <script src="@{'/public/javascripts/thehague/webwidgets.coffee'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
#{set 'moreStyles'}
  <link rel="stylesheet" media="all" type="text/css" href="@{'/public/thehague/widget76.css'}">
  <link rel="stylesheet" type="text/css" href="@{'/public/thehague/main_rename.css'}" media="screen, projection">
  <link rel="shortcut icon" href="http://www.thehagueuniversity.com/images/hhs/Library/Images/favicon.ico" type="image/ico">
  <link rel="stylesheet" type="text/css" href="@{'/public/thehague/corporate.css'}" media="screen, projection">
  <link rel="stylesheet" type="text/css" href="@{'/public/thehague/print.css'}" media="print">

  <link rel="stylesheet" media="all" href="@{'/public/stylesheets/thehague/main.scss'}">
#{/set}
</head>


<body>
  <div
    style="visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000;"
    id="_atssh">
    <iframe id="_atssh652" title="AddThis utility frame"
      style="height: 1px; width: 1px; position: absolute; z-index: 100000; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; left: 0px; top: 0px;"
      src="@{'/public/thehague/sh74.html'}"></iframe>
  </div>
  <div id="pageWrapper">
    <div id="headmast">

      <div id="sitenav">
        <a href="http://www.thehagueuniversity.com/"
          title="homepage The Hague University">home</a> | <a
          href="http://www.dehaagsehogeschool.nl/"
          title="nederlandse website De Haagse Hogeschool"
          onclick="null;return false;">nederlands</a> | <a
          href="http://www.thehagueuniversity.com/about-us/adresses-phonenumbers"
          title="contact The Hague University">contact</a> | <a
          href="http://portal.hhs.nl/"
          title="log in to visit the intranet of The Hague University">log
          in</a>
      </div>
      <a href="http://www.thehagueuniversity.com/"
        title="The Hague University"> <img
        src="@{'/public/thehague/Corporate_green_pages.gif'}"
        alt="The Hague University"></a>

      <div id="google" align="RIGHT">
        <!-- Google CSE Search Box Begins  -->
        <form
          action="http://www.thehagueuniversity.com/search/search-on-keyword"
          id="searchbox_016715411322178680267:uwoi1cgkcpo">
          <input type="hidden" name="cx"
            value="016715411322178680267:uwoi1cgkcpo"> <input
            type="hidden" name="cof" value="FORID:11"> <input
            type="text" name="q" size="20"
            style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(126, 157, 185); border-right-color: rgb(126, 157, 185); border-bottom-color: rgb(126, 157, 185); border-left-color: rgb(126, 157, 185); border-image: initial; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
          <input type="submit" name="sa" value="search" class="button2">
          <input name="siteurl" type="hidden"
            value="www.thehagueuniversity.com/international-student-services/general"><input
            name="ref" type="hidden"
            value="www.thehagueuniversity.com/international-student-services/general">
        </form>
        <script type="text/javascript"
          src="@{'/public/thehague/brand'}">
          </script>
        <!-- Google CSE Search Box Ends -->
      </div>
    </div>

    <iframe id="portalIFrame" title="" frameborder="0" width="0"
      height="0" src="@{'/public/thehague/pobtrans.gif'}"></iframe>
    <script type="text/javascript"
      src="@{'/public/thehague/PORTAL.wwsbr_javascript.page_js'}"></script>
    <table width="100%" id="rg20987" border="0" cellpadding="0"
      cellspacing="0" summary="">
      <tbody>
        <tr align="LEFT">
          <td valign="top"
            style="padding: 0px 0px 0px 0px; width: 100%;"><div
              id="p133_799312_133_1294205_1294205">
              <div id="navigation">
                <ul>
                  <li><a class="menukeuze"
                    href="http://www.thehagueuniversity.com/"
                    title="Main menu">Main menu</a></li>
                  <li class="corporate hasChildren"><a
                    href="http://www.thehagueuniversity.com/why-study-in-holland/general"
                    title="Why study in Holland?">Why study in
                      Holland? <b>›</b>
                  </a></li>
                  <li class="masters hasChildren"><a
                    href="http://www.thehagueuniversity.com/master-studies/general"
                    title="Master Studies">Master Studies <b>›</b></a></li>
                  <li class="bachelors hasChildren"><a
                    href="http://www.thehagueuniversity.com/bachelor-studies/general"
                    title="Bachelor Studies">Bachelor Studies <b>›</b></a></li>
                  <li class="corporate hasChildren"><a
                    href="http://www.thehagueuniversity.com/exchange-programmes/general"
                    title="Exchange Programmes">Exchange Programmes
                      <b>›</b>
                  </a></li>
                  <li class="corporate hasChildren"><a
                    href="http://www.thehagueuniversity.com/prep-programme/general"
                    title="English Prep School">English Prep School
                      <b>›</b>
                  </a></li>
                  <li class="research hasChildren"><a
                    href="http://www.thehagueuniversity.com/research/general"
                    title="Research">Research <b>›</b></a></li>
                  <li class="corporate hasChildren"><a
                    class="breadcrumb"
                    href="@{webwidgets.TheHague.index()}"
                    title="International Student Services">International
                      Student Services <b>›</b>
                  </a>
                    <ul>
                      <li>International Student Services</li>
                      <li><a
                        href="@{webwidgets.TheHague.index()}"
                        title="General">General</a></li>
                      <li class="hasChildren"><a
                        href="http://www.thehagueuniversity.com/international-student-services/the-international-office/general"
                        title="The International Office">The
                          International Office <b>›</b>
                      </a></li>
                      <li><a
                        href="http://www.thehagueuniversity.com/international-student-services/representatives-worldwide"
                        title="Representatives worldwide">Representatives
                          worldwide</a></li>
                      <li class="hasChildren"><a
                        href="http://www.thehagueuniversity.com/international-student-services/our-facilities/general"
                        title="Our facilities">Our facilities <b>›</b></a></li>
                      <li><a class="breadcrumb"
                        href="@{webwidgets.TheHague.index()}"
                        title="Products for international student">Products for international student</a></li>
                      <li><a
                        href="http://www.thehagueuniversity.com/international-student-services/partners-exchanges"
                        title="Partners &amp; exchanges">Partners
                          &amp; exchanges</a></li>
                    </ul></li>
                  <li class="corporate hasChildren"><a
                    href="http://www.thehagueuniversity.com/about-us/general"
                    title="About us">About us <b>›</b></a></li>
                  <li class="corporate hasChildren"><a
                    href="http://www.thehagueuniversity.com/living-in-the-hague/general"
                    title="Living in The Hague">Living in The Hague
                      <b>›</b>
                  </a></li>
                  <li class="corporate"><a
                    href="http://www.thehagueuniversity.com/alumni"
                    title="Alumni">Alumni</a></li>
                </ul>
              </div>
            </div></td>
        </tr>
      </tbody>
    </table>


    <div id="search_panel"></div>
    <div id="right_from_search_panel">
      <div id="search_explanation">
        <h1>How to</h1>
        <p>
          You can search on the left here. (Note that this content block
          is completely custom by The Hague University and not retrieved
          from an external web service. Such <strong>is</strong> the
          case for the search and results blocks)
        </p>
      </div>
      <div id="product_panel" class="hidden"></div>
      <div id="details_panel" class="hidden"></div>
      <div id="right_column">
        <table border="0" cellspacing="0" cellpadding="0" width="100%"
          summary="">
          <tbody>
            <tr>
              <td valign="top" style="width: 567px">
                <table width="100%" id="rg30125" border="0"
                  cellpadding="0" cellspacing="0" summary="">
                  <tbody>
                    <tr align="LEFT">
                      <td valign="top"
                        style="padding: 0px 0px 0px 0px; width: 100%;">
                        <!-- Start content -->
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table width="100%" id="rg20989" border="0"
                  cellpadding="0" cellspacing="0" summary="">
                  <tbody>
                    <tr align="LEFT">
                      <td valign="top"
                        style="padding: 0px 0px 0px 0px; width: 100%;"><div
                          id="p133_1294251_133_1294205_1294205">
                          <div class="editMode"
                            onmouseover="javascript:canMouseOver([475,485,525],this);"
                            onmouseout="this.style.backgroundColor=&#39;transparent&#39;"
                            ondblclick="javascript:canDoubleClick([475,485,525],&#39;http://www.thehagueuniversity.com/portal/page/portal/en/international-student-services/general?zzz535973_XMS_CONTENT_PORTLET_1780214.p_edit=Y&#39;);"
                            style="background-color: transparent;">
                          </div>
                        </div></td>
                    </tr>
                  </tbody>
                </table>
                <table width="100%" id="rg30124" border="0"
                  cellpadding="0" cellspacing="0" summary="">
                  <tbody>
                    <tr align="LEFT">
                      <td valign="top"
                        style="padding: 0px 0px 0px 0px; width: 100%;"><br>
                        <br> <!-- End content --></td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td valign="top" style="width: 188px">
                <table width="100%" id="rg20990" border="0"
                  cellpadding="0" cellspacing="0" summary="">
                  <tbody>
                    <tr align="RIGHT">
                      <td valign="top"
                        style="padding: 0px 0px 0px 0px; width: 100%;"><div
                          id="p133_1367954_133_1294205_1294205">
                          <div class="editMode"
                            onmouseover="javascript:canMouseOver([475,485],this);"
                            onmouseout="this.style.backgroundColor=&#39;transparent&#39;"
                            ondblclick="javascript:canDoubleClick([475,485],&#39;http://www.thehagueuniversity.com/portal/page/portal/en/international-student-services/general?zzz538710_XMS_CONTENT_PORTLET_1780214.p_edit=Y&#39;);"
                            style="background-color: transparent;">
                            <div class="highlightPortlet banner">
                              <p>
                                <a
                                  href="http://www.thehagueuniversity.com/about-us/campuses/eng-campuses-virtual-tour-main-campus"
                                  title=" Come in and take our virtual tour!"
                                  target="_self"> <img
                                  src="@{'/public/thehague/xms_itm_p.download_file'}"
                                  alt="Come in and take our virtual tour!">
                                </a>
                              </p>
                            </div>
                          </div>
                        </div></td>
                    </tr>
                    <tr align="RIGHT">
                      <td valign="top"
                        style="padding: 0px 0px 0px 0px; width: 100%;"><div
                          id="p133_8220877_133_1294205_1294205">
                          <div class="editMode"
                            onmouseover="javascript:canMouseOver([475,485],this);"
                            onmouseout="this.style.backgroundColor=&#39;transparent&#39;"
                            ondblclick="javascript:canDoubleClick([475,485],&#39;http://www.thehagueuniversity.com/portal/page/portal/en/international-student-services/general?zzz1796251_CMS_CONTENT_PORTLET_1780214.p_edit=Y&#39;);"
                            style="background-color: transparent;">
                            <div class="highlightPortlet banner">
                              <p>
                                <a
                                  href="http://www.thehagueuniversity.com/bachelor-studies/bachelor-degree-programmes/the-hague-school-of-european-studies/popups-icm/international-study-magazine"
                                  onclick="window.open(this.href,&#39;popup&#39;,&#39;scrollbars=yes,resizable=yes,width=610,height=610&#39;); return false;"
                                  title="Popup: Request the magazine">
                                  <img
                                  src="@{'/public/thehague/xms_itm_p(1).download_file'}"
                                  alt="">
                                </a>
                              </p>
                            </div>
                          </div>
                        </div></td>
                    </tr>
                  </tbody>
                </table>
                <table width="100%" id="rg29823" border="0"
                  cellpadding="0" cellspacing="0" summary="">
                  <tbody>
                    <tr>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <div id="contacts_panel" class="hidden"></div>
      </div>
      <div id="theme_panel" class="hidden"></div>
    </div>



    <!-- show footer template = 2062489431 -->

  </div>
  <!-- Nieuwe footer met bookmark en andere teksten -->

  <div id="footer2">
    <span style="float: left;"> <script type="text/javascript">        function popitup(url) {
          newwindow=window.open(url,'loginbeheer','height=640,width=820');
          if (window.focus) {newwindow.focus()}
          return false;
        }
        </script> <a href="javascript:printPage();" title="print">print</a> | <a
      href="http://www.thehagueuniversity.com/search/sitemap"
      title="sitemap">sitemap</a> | <a
      href="http://www.thehagueuniversity.com/search/abc-index"
      title="abc-index">abc-index</a> | <a
      href="http://www.thehagueuniversity.com/disclaimer" target="popup"
      title="disclaimer">disclaimer</a> | <a href="javascript:void;"
      target="_blank" title="beheer"
      onclick="return popitup(&#39;http://www.thehagueuniversity.com/login&#39;)">beheer</a>
    </span> <span style="float: right; padding-top: 2px;"> <!-- AddThis Button BEGIN VERSIE 2 (Alleen Share button) -->
      <div class="addthis_toolbox addthis_default_style">
        <a style="border-bottom: none;"
          href="http://www.addthis.com/bookmark.php?v=250&pubid=xa-4d7f242c2154e035"
          class="addthis_button_compact at300m"><span
          class="at300bs at15nc at15t_compact"></span></a> &nbsp; &nbsp;
        &nbsp;
        <!-- AddThis Button END -->
        <a
          href="http://www.facebook.com/pages/The-Hague-Netherlands/The-Hague-University-of-Applied-Sciences/313806797467"
          target="_blank" style="border: 0;" title="Facebook"><img
          src="@{'/public/thehague/xms_itm_p(2).download_file'}"
          alt="Facebook"></a> <a
          href="http://twitter.com/HagueUniversity" target="_blank"
          style="border: 0;" title="Twitter"><img
          src="@{'/public/thehague/xms_itm_p(3).download_file'}"
          alt="Twitter"></a> <a
          href="http://www.youtube.com/user/TheHagueUniversity"
          target="_blank" style="border: 0;" title="You Tube"><img
          src="@{'/public/thehague/xms_itm_p(4).download_file'}"
          alt="You Tube"></a>
        <div class="atclear"></div>
      </div> <script type="text/javascript"
        src="@{'/public/thehague/addthis_widget.js'}"></script> <script
        type="text/javascript">  var addthis_config = {ui_language: "en"}; </script>
    </span> <span style="clear: both;"></span>
  </div>


  <!-- BEGIN GOOGLE SEARCH IMAGE REMOVER -->
  <script type="text/javascript">
  (
  function() { 
	  var f = document.getElementById('searchbox_016715411322178680267:uwoi1cgkcpo'); 
	  if (!f) { 
		  f = document.getElementById('searchbox_demo');
      } 
	  if (f && f.q) { 
		  var q = f.q; 
		  var n = navigator; 
		  var l = location; 
		  if (n.platform == 'Win32') { 
			  q.style.cssText = 'border: 1px solid #7e9db9; padding: 2px;'; 
		  } 
		  
		  var f = function() { 
			  q.style.background = '#ffffff'; 
		  }; 
		  
		  q.onfocus = f; 
		  q.onblur = f; 
		  if (!/[&?]q=[^&]/.test(l.search)) { 
			  f(); 
		  } 
	  } 
  })();     
    

    </script>
  <!-- END GOOGLE SEARCH IMAGE REMOVER -->



  <!-- Page Metadata Generated On: 21-MAR-2012:04:06:20  Time Taken: 40 msecs -->
</body>
</html>