/***************************
 **   SHARED CONSTANTS    **
 ***************************/

$primary-color: #333;
$secondary-color: #A9B532;
$tertiary-color: #E8E8E8;
$border-color: #CCC;
$light-bg-color: #F9F9F9;
$pdficon-width: 32px;


/***************************
**     SHARED CLASSES     **
****************************/

.hidden { display: none; }


/**************************
**      MAIN LAYOUT      **
***************************/

$body-width: 754px;
$main-margin: 6px;
$main-padding: 8px;
$main-border-width: 1px;
$main-net-width: $body-width - 2 * ($main-margin + $main-border-width);
$net-width-for-product-and-search: $main-net-width - $main-margin - 3 * $main-border-width;

body { overflow: auto; }
h1 { font-size: 1.5em; line-height: 1.2em; color: $secondary-color; }
h2 { font-weight: bold; font-size: 1.1em; line-height: 1.2em; margin: 1.4em 0 0.6em 0; color: $primary-color; }
a { color: $secondary-color; text-decoration: none; }
a.inline { }
a.back_to_search_results {
    background-color: $light-bg-color;
    border: 1px solid $border-color;
    border-radius: 3px;
    display: block;
    padding: 15px;
    text-decoration: none;
    border-bottom: none;
}
a.asPdfAction {
    background: url(http://www.adobe.com/images/pdficon_large.gif) no-repeat;
    cursor: pointer;
    display: block;
    height: 32px;
    width: $pdficon-width;
    text-decoration: none;
    outline: 0;
}
div.help {
    background: url(../../images/thehague/help_icon.gif) no-repeat;
    cursor: help;
    display: inline;
    float: right;
    height: 16px;
    line-height: 0;
    margin-bottom: 0.3em;
    text-indent: -1000em;
    width: 16px;
}
p.authority {
    color: grey;
    display: block;
    float: right;
    font-style: italic;
    margin: 0 0 0.5em 0;
}

#search_explanation {
    border: $main-border-width solid $border-color;
    float: left;
    margin: $main-margin $main-margin $main-margin $main-margin/2;
    padding: 15px $main-padding $main-padding $main-padding;
    width: $net-width-for-product-and-search * 0.5 - 2 * $main-padding;
}

#theme_panel {
    $theme-panel-width: $net-width-for-product-and-search * 0.5 - 2 * $main-padding;
    border: $main-border-width solid $border-color;
    float: left;
    margin: $main-margin;
    padding: 15px $main-padding $main-padding $main-padding;
    width: $theme-panel-width;
    div#theme { margin-top: 30px; }
    h1 {
        clear: both;
        display: block;
    }
}

#details_panel {
    $details-panel-width: $net-width-for-product-and-search * 0.5 - 2 * $main-padding;
    $details-divs-width: $details-panel-width -2 * $main-padding;

    float: left;
    margin: $main-margin $main-margin/2 $main-margin $main-margin;
    padding: 15px $main-padding $main-padding $main-padding;
    width: $details-panel-width;
    border: $main-border-width solid $border-color;

    a.back_to_search_results { margin-right: $pdficon-width + 6; }
    a.asPdfAction { float: right; }

    h1 {
        clear: both;
        display: block;
        margin-bottom: 0;
    }

    div#details {
        margin-top: 30px;
        position: relative;
        padding: $main-padding;
        width: $details_divs_width;

        div#product_description { margin-top: 1em; }
        p.dutch_title {
            color: grey;
            display: block;
            font-style: italic;
            margin: 0.5em 0 0 0;
        }
    }
    
    div#complement_details {
        margin-top: -1px;
        padding: $main-padding;
        width: $details_divs_width;
        border-top: $main-border-width solid $border-color;
    }
}

#right_column {
    float: left;
    width: $net-width-for-product-and-search * 0.25 - 2 * $main-padding;
}
#contacts_panel {
    border: $main-border-width solid $border-color;
    margin: $main-margin $main-margin $main-margin $main-margin/2;
    padding: 15px $main-padding $main-padding $main-padding;
    width: 100%;
    div.contact_element { border-bottom: 2px dotted $border-color; }
    div.contact_element.last { border-bottom: none; }
    p { margin: 0.5em 0; }
}
div#footer2 { clear: both; }
div#pageWrapper { overflow: auto; }

#search_panel {
    $search-panel-width: $net-width-for-product-and-search * 0.25 - 2 * ($main-padding + $main-border-width);

    border: $main-border-width solid $border-color;
    float: left;
    margin: $main-margin $main-margin/2 $main-margin $main-margin;
    overflow: auto;
    padding: $main-padding;
    width: $search-panel-width;

    fieldset {
        width: $search-panel-width;
        border: none;
        padding: 0;
        margin: 0;

        div.checkboxes { font-size: 0.85em; }

        #age { width: 2em; }
        #search_button { float: right; margin-top: 10px; }

        /*********   DROP-DOWN MENUS    ********/
        select { margin: 0 10px 0 0; visibility: hidden; width: $search-panel-width; }
        div.wrapper {
            background: url(../images/dropdown.gif) no-repeat 100% 50%;
            border: 1px solid $border-color;
            margin: 0;
            padding: 0 24px 0 2px;
        }
        input.dropdown {
            background: none;
            border: 0;
            cursor: default;
            line-height: 16px;
            margin: 0;
            padding: 0;
            width: 100%;
            &:focus { outline: none; }
        }
        .options {
            z-index: 100;
            background: $tertiary-color;
            border: 1px solid $border-color;
            line-height: 16px;
            list-style: none;
            margin: 0;
            // max-height: 250px;
            min-width: $search-panel-width - 2;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 0;
            position: absolute;
            li {
                background: url("http://www.nuffic.nl/main-sub.gif") .5em .6em no-repeat;
                border-bottom: 1px solid #FFF;
                cursor: default;
                display: block;
                padding: 0 1em 0 1.5em;
                &:hover {
                    background: $light-bg-color url("http://www.nuffic.nl/main-sub.gif") .5em .6em no-repeat;
                    color: $secondary-color;
                }
            }
            li.selected { font-weight:bold; }
        }
        div.selectBox { background: url(../images/select-bg.png) repeat-x 0 1px; }
        div#nat_select {
            input#nationality_label {
                border: 1px solid $border-color;
                display: block;
                margin: 0;
                padding: 1px;
                width: $search-panel-width - 2 - 2;
            }
        }

        /*********   AUTOCOMPLETE    ********/
        .ui-menu {
            display:block;
            list-style:none;
            padding: 0;
            margin: 0;
            float: left;
            min-width: $search-panel-width - 2 * 2;
            overflow-x: hidden;
            overflow-y: auto;
            background: url(../images/dropdown.gif) no-repeat 100% 50%;
            border: 1px solid $border-color;
            line-height: 16px;

            .ui-menu {
                margin-top: -3px;
            }
            .ui-menu-item {
                background: url("http://www.nuffic.nl/main-sub.gif") .5em .6em no-repeat;
                border-bottom: 1px solid #FFF;
                cursor: default;
                display: block;
                padding: 0 5px 0 15px;
                &:hover {
                    background: $light-bg-color url("http://www.nuffic.nl/main-sub.gif") .5em .6em no-repeat;
                    color: $secondary-color;
                }
                clear: left;
                float: left;
                margin: 0;
                width: $search-panel-width - 2 * 2 - 20px;
                zoom: 1;
            }
            .ui-menu-item a {
                color: $primary-color;
                display: block;
                line-height: 1.5;
                padding: .2em .4em;
                text-decoration: none;
                zoom: 1;
            }
            .ui-menu-item a.ui-state-hover, .ui-menu-item a.ui-state-active {
                font-weight: normal;
                color: $secondary-color;
            }
        }
        .ui-widget-content {
            background: $tertiary-color;
        }
    }

    #themes {
        border-top: 2px solid grey;
        margin-top: 12px;
        padding-top: 12px;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li { 
                position: relative;
                padding: 0.5em 0 0 18px; 
                input {
                    left: 0px;
                    position: absolute;
                    margin: 0;
                }
                label.inactive { color: grey; }
            }
        }
    }
}

#product_panel {
    border: $main-border-width solid $border-color;
    float: left;
    margin: $main-margin $main-margin $main-margin $main-margin/2;
    padding: 15px $main-padding $main-padding $main-padding;
    width: $net-width-for-product-and-search * 0.5 - 2 * $main-padding;

    a.link_to_theme {
        color: $primary-color;
        &:hover { text-decoration: underline; }
        font-size: 1.3em;
    }
    a.link_to_product {
        font-size: 1.2em;
    }
    ul.product_list {
        list-style: inside circle;
        margin: 10px 0 0 0;
        padding-left: 10px;
        > li { line-height: 1.3em; }
    }
    ul.theme_list {
        list-style: none; 
        margin: 10px 0 0 0;
        padding-left: 0;
    }
    h1 {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 0.5em;
    }
    div#start_page {
        h1 {
            background: url(../images/check.gif) no-repeat left;
            font-size: 26px;
            line-height: 30px;
            padding-left: 2.65em;
        }
    }
}

/******************************
 **        EASY TOOLTIP      **
 ******************************/
 
#easyTooltip {
    padding:5px;
    border:1px solid #cc9;
    background: $light-bg-color;
    width: 280px;
    // font-size: 12px;
    -moz-box-shadow: 2px 2px 11px #666;
    -webkit-box-shadow: 2px 2px 11px #666;
    word-wrap: break-word;

    p { margin-bottom: 0.7em; }
    ol { list-style: square outside; padding-left: 1.5em; }
    li { margin-bottom: 0.4em; }
}
